body {
  font-family: "Anonymous Pro", "Arial", sans-serif;
  font-weight: 700;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 32px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: white;
  border-bottom: 1px solid #A1A6B4;
}

.footer {
  color: white;
  background-color: #121723;
}

.header,
.footer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.icons {
  color: black;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  text-decoration: none;
}

.footer .icons {
  color: white;
}

.header_content,
main,
.footer_main {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.header_content {
  flex-direction: row;
  padding: 24px 0px;
  margin: 0;
  gap: 20px;
}

.social {
  font-size: 20px;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  justify-content: center;
  align-items: flex-start;
  padding: 0 20px;
  margin: 0;
  gap: 32px;
}

.content {
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;
}

.footer_main {
  padding: 32px 0 24px 0;
  gap: 32px;
}

.footer_content {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  box-sizing: border-box;
}

.footer_copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  box-sizing: border-box;
  width: 100%;

}

.footer-logo {
  max-width: 300px;
}

h1 {
  font-size: 48px;
  margin: 0px;
}

h2 {
	font-size: 36px;
  margin: 0px;
}

h3 {
	font-size: 26px;
  margin: 0px;
}

h4 {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}

p {
  font-size: 20px;
  margin: 0px;
  font-weight: 400;
}

.sneaker {
  width: 364px;
	display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}

.sneaker-link {
  text-decoration: none;
}

.linked:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container_image {
	width: 100%;
  align-self: stretch;
}

.text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 32px 24px;
  gap: 10px;
  color: black;
}

.footer_copyright-text {
  font-size: 16px;
  margin: 0px;
  color: #A1A6B4;
  text-transform: uppercase;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0px;
}

#footer_line {
  background-color: #E6E8EC;
  opacity: 40%;
  border: 0;
}
.icons:hover {
  color: rgb(80, 80, 255);
  transition: 0.5s;
}

