.content {
  justify-content: flex-start;
}

.main_crocs {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  padding: 48px;
  box-sizing: border-box;
  gap: 32px;
}

.main_crocs_image {
  width: 100%;
  align-self: stretch;
}

.main_information {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.main_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  flex-grow: 1;
}

.main_text_p {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 506px;
}

.main_text_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  position: sticky;
  top: 15px;
}

.main_text_info_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.main_text_info_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.separator {
  background-color: black;
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
}

.main_other {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.sneaker h3 {
  font-weight: 700;
}

.line {
  width: 100%;
  height: 1px;
  margin: 0px;
}

@media screen and (max-width: 1024px) {
  .header_content {
    justify-content: space-around;
  }

  .header {
    padding: 0 16px;
  }

  .main_other {
    align-items: center;
  }

  .content {
    justify-content: center;
    flex-wrap: wrap;
  }

  .main_crocs {
    padding: 24px;
    border-radius: 12px;
  }

  .main_text {
    flex-wrap: wrap;
  }

  .main_text_p {
    max-width: none;
  }

  h1 {
    font-size: 32px;
  }  

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .sneaker {
    max-width: 343px;
    width: 100%;
  }

  .footer_content {
    justify-content: space-around;
  }

  main {
    padding: 0 16px;
  }

  .footer-logo {
    max-width: 300px;
    width: 100%;
  }
  
  .logo {
    max-width: 215px;
    width: 100%;
  }

  .footer {
    padding: 0 16px;
  }
}